@tailwind base;
@tailwind components;
@tailwind utilities;


.ace_active-line{
    background-color: rgba(20, 21, 21, 0.5)!important;
 
}

.ace_gutter{
    background-color: rgb(107 114 128 / 0.5)!important;
}

.ace_gutter-active-line{
    background-color: rgba(20, 21, 21, 0.5)!important;
}


/* .codeeditor{
    height: 100%!important;
}


.ace_content{
    height: 100%!important;
} */


.QajuHzlZleFtiTUp_E8u.zzHlKp_IVmgXBPV3Jv58 {
    min-width: 350px!important;
    min-height: 230px!important;
}


.QajuHzlZleFtiTUp_E8u .D9WLyEQaARfWqCTyVrpU {
    width: 382px!important;
    height: 230px!important;
    padding: 8px!important;
    border-radius: 12px!important;
    box-shadow: 0px 0px 0px 0px #eaecf1!important;
    background-color: black!important;
}


.QajuHzlZleFtiTUp_E8u .VsTVUAD89KWleD0YRVsD {
    width: 62px!important;
    height: 38px!important;
    font-size: 13px!important;
    line-height: 38px!important;
    border-radius: 8px!important;
    
   
}


.D9WLyEQaARfWqCTyVrpU {
    display: block!important;
 
}

.QajuHzlZleFtiTUp_E8u .TYiiRFB3EhYJGVPE4k4q {
    display: none!important;
}

.QajuHzlZleFtiTUp_E8u .sJcgXLqA2Va2eqymgksg {
    width: 363px!important;
    border-radius: 12px!important;
}

.QajuHzlZleFtiTUp_E8u .pOvRwHj19chJGkgemUH3 ._M8cCug8H18ALQ05cNMt {
    display: none!important;
}



.QajuHzlZleFtiTUp_E8u .VsTVUAD89KWleD0YRVsD {
    
    width: 49px!important;
    height: 30px!important;
    font-size: 13px!important;
    line-height: 38px!important;
    border-radius: 8px!important;
    position: absolute!important;
    top: -51px!important;
    right: 18px!important;
}


.sCsSbKP9yxvw4LQAeaTz {
    position: relative!important;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 374px!important;
    height: 100%;
    min-height: 200px!important;
    background: #1c1f2e;
    border-radius: 2%!important;
}


.ji5jASszKFf2CGCmbxEh {
    position: relative!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    box-sizing: border-box!important;
    width: 100%!important;
    height: 32px!important;
    padding: 0 30px!important;
    background: #1e2130!important;
    margin-bottom: 10px!important;
}


.JtRS8dNV0vDLnpBoA6kZ>div {
    display: none;
}

.vjwEXnTmP6jAK8LlvWL_>div {
    width: 34px!important;
    height: 31px!important;
    background-color: #313443!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: 28px 28px!important;
    border-radius: 10px!important;
    cursor: pointer!important;
    margin: 0 10px!important;
   
}


.tkC3S6XQehKbTEIfFYVM {
    width: 100%;
    height: 224px!important;
    border-radius: 2%;
}

.C7PnSkxqD6bOXhZlRlcc {
    position: absolute !important;
    top: 14px!important;
    right: 14px!important;
    z-index: 20!important;
    width: 130px!important;
    height: 73px!important;
    border: 1px solid #3d4054!important;
    border-radius: 10px!important;
}